@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Signika+Negative:wght@300;400;500;600;700&display=swap');

.logo-container {
    display: flex;
}

.logo-container img {
    height: 30px;
    margin-right: 5px;
    transition: 1.4s all;
}

.logo-container p {
    font-size: 27px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    font-family: 'Signika Negative', sans-serif;
}

.logo-container p .v {
    color: var(--main);
    font-weight: 800;
}