.restaurants-list .title {
  width: 845px;
  height: 32px;
  left: 154px;
  top: 382px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: right;
  letter-spacing: 0.4px;
  color: #2D2E2F;
}

.restaurants-list .sort {
  width: 821px;
  height: 51px;
  margin-top: 20px;
}

.restaurants-list .check-order {
  width: 100px;
  background-color: red;
}

.restaurants-list .sort .order {
  display: inline-flex;
  padding: 10px 14px;
  border: 1px solid var(--outer-border);
  cursor: pointer;
  background-color: white;
}

.restaurants-list .sort .order:first-child {
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.restaurants-list .sort .order:nth-child(6) {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.restaurants-list .review-cards {
  margin-top: 15px;
}
