.notification-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    position: absolute;
    bottom: 10px;
    right: 20px;
    width: 500px;
    transition: .1s opacity;
    z-index: 1;
}

.notification-container .notification {
    margin-bottom: 10px;
}